
<div class="nav-bar">
        <div class="container">
          <div class="row">
            <div class="col">
              <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a href="/" class="nav-link active">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link active">Как работает сортировка</a>
                </li>                
              </ul>
            </div>
          </div>
        </div>        
      </div>